html {
    background-image: url('stellar.png');
}
.title {
    font-size: 40px;
    font-weight: bold;
    color: #333;
}

body{
    align-content: center;
    text-align: center;
}

button {
    background: grey;
    color: #333;
    border: none;
    border-radius: 22px;
    padding: 7px 18px;
    font-size: 14px;
    font-family: 'Segoe UI', Arial, sans-serif;
    letter-spacing: 1.5px;
    box-shadow: 0 0 10px #333, 0 0 18px #222 inset;
    transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
    cursor: pointer;
    outline: none;
}

button:hover, button:focus {
    background: linear-gradient(90deg, #4b004b 0%, #3a006a 100%);
    box-shadow: 0 0 18px #4b004b, 0 0 32px #3a006a inset;
    transform: scale(1.05);
    color: #fff;
}


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #07131c, #305472);
}